<?xml version="1.0" encoding="utf-8"?> 
<configuration> 
    <system.webServer> 
        <webSocket enable="false" /> 
        <handlers> 
            <add name="iisnode" path="index.js " verb="*" módulos="iisnode" /> 
        </handlers> 
        <iisnode /> 
        <rewrite> 
          <reglas> 
            <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true"> 
              <match url=" ^index.js\/debug[\/]?" /> 
            </regla> 
            <regla nombre="ContenidoEstático">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/> 
              </conditions> 
              <action type="Rewrite" url="index.js"/> 
            </regla> 
          </reglas> 
        < /rewrite> 
        <security> 
          <requestFiltering> 
            <hiddenSegments> 
               <remove segment="bin"/> 
            </hiddenSegments> 
         </requestFiltering> 
        </security> 
        <httpErrors beingResponse="PassThrough" /> 
    </system.webServer> 
</ configuración>